EAD/ASSIGNMENT6/WebContent/wsdl/RestAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://rest.inventory.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://rest.inventory.metacube.com" xmlns:intf="http://rest.inventory.metacube.com" xmlns:tns1="http://element.inventory.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://rest.inventory.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://element.inventory.metacube.com"/>
   <element name="update">
    <complexType>
     <sequence>
      <element name="element" type="tns1:Element"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType/>
   </element>
   <element name="insert">
    <complexType>
     <sequence>
      <element name="element" type="tns1:Element"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertResponse">
    <complexType/>
   </element>
   <element name="getElement">
    <complexType>
     <sequence>
      <element name="elementName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getElementResponse">
    <complexType>
     <sequence>
      <element name="getElementReturn" type="tns1:Element"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteElement">
    <complexType>
     <sequence>
      <element name="elementName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteElementResponse">
    <complexType/>
   </element>
   <element name="getAllElements">
    <complexType/>
   </element>
   <element name="getAllElementsResponse">
    <complexType>
     <sequence>
      <element name="getAllElementsReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://element.inventory.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://rest.inventory.metacube.com"/>
   <complexType name="Element">
    <sequence>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="quantity" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deleteElementResponse">

      <wsdl:part element="impl:deleteElementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertRequest">

      <wsdl:part element="impl:insert" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllElementsRequest">

      <wsdl:part element="impl:getAllElements" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part element="impl:update" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getElementResponse">

      <wsdl:part element="impl:getElementResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllElementsResponse">

      <wsdl:part element="impl:getAllElementsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteElementRequest">

      <wsdl:part element="impl:deleteElement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part element="impl:updateResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertResponse">

      <wsdl:part element="impl:insertResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getElementRequest">

      <wsdl:part element="impl:getElement" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="RestAPI">

      <wsdl:operation name="update">

         <wsdl:input message="impl:updateRequest" name="updateRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateResponse" name="updateResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insert">

         <wsdl:input message="impl:insertRequest" name="insertRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertResponse" name="insertResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getElement">

         <wsdl:input message="impl:getElementRequest" name="getElementRequest">

       </wsdl:input>

         <wsdl:output message="impl:getElementResponse" name="getElementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteElement">

         <wsdl:input message="impl:deleteElementRequest" name="deleteElementRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteElementResponse" name="deleteElementResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllElements">

         <wsdl:input message="impl:getAllElementsRequest" name="getAllElementsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllElementsResponse" name="getAllElementsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="RestAPISoapBinding" type="impl:RestAPI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="insert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getElement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getElementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getElementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteElement">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteElementRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteElementResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllElements">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllElementsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllElementsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="RestAPIService">

      <wsdl:port binding="impl:RestAPISoapBinding" name="RestAPI">

         <wsdlsoap:address location="http://localhost:8080/InventoryAPI/services/RestAPI"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
